[Unit]
Description=Raspy Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/src/raspy-bot/scripts/shell/raspy-run.sh
Restart=on-abort


[Install]
WantedBy=multi-user.target
